<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <script src="profile.js"></script>
</head>

<body>
    <div id="avatar">
        <img class="avatar" src="avatar.png">
    </div>
    <div id="basic_info">
        <div id="name">
            <a id="lastname">Hao</a>
            <a id="firstname">Pengzhan</a>
            <i class="fa fa-mars" style="padding-left: 10px;"></i>
        </div>
        <div id="contact">
            <div>
                <div id="phone">
                    <i class="fa fa-phone" style="font-size:20px;"></i>
                    <span id="phone-popup" style="display: none;">
                            607-232-xxxx
                        </span>
                </div>
            </div>
            <i class="fa fa-envelope" style="font-size:20px;"></i>
            <i class="fa fa-location-arrow" style="font-size:20px;"></i>
            <a href="http://github.com/CoderSherlock">
                <i class="fa fa-github" style="font-size:20px;"></i>
            </a>
        </div>

    </div>
    <canvas>

    </canvas>
</body>
<footer>

</footer>

</html>