<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <script src="profile.js"></script>
</head>

<body>
    <div class="frame">
    <div class="left">
        <div id="avatar">
            <img class="avatar" src="avatar.png">
        </div>
        <div id="basic_info">
            <div class="div-0-1">
                <div id="name">
                    <a id="lastname" class="label">Hao</a>
                    <a id="firstname" class="label">Pengzhan</a>
                    <i class="fa fa-mars" style="padding-left: 10px;"></i>
                </div>
            </div>
            <div id="contact">
                <div>
                    <div id="phone">
                        <i class="fa fa-phone" style="font-size:20px;"></i>
                    </div>
                </div>
                <i class="fa fa-envelope" style="font-size:20px;"></i>
                <i class="fa fa-location-arrow" style="font-size:20px;"></i>
                <a href="http://github.com/CoderSherlock">
                    <i class="fa fa-github" style="font-size:20px;"></i>
                </a>
            </div>

        </div>
        <canvas>

        </canvas>
    </div>
    <div class="middle">
        1
    </div>
    <div class="right">
        2
    </div>
    </div>

</body>
<footer>

</footer>

</html>