body{
    text-align: center;
    background: #aaaaaa;
    margin-bottom: -10%;    
}

div.frame {
    width: 80%;
    height: 100%;
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10px;
    margin-bottom: -10px;
}

div.left {
    margin-top: 5px;
    display: inline-block;    
    text-align: left;
    width: 70%;
    /* border:1px solid #000 */
}

div.middle {
    margin-top: 5px;
    
    text-align: left;    
    display: inline-block;
    width: 0%;
    /* border:1px solid #000 */
}

div.right {
    margin-top: 5px;
    
    text-align: left;   
    display: inline-block;
    width: 28%;
    /* border:1px solid #000 */
}







.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

a:visited {
    color: blue;
}

#avatar, #basic_info {
    display: inline-block;
    vertical-align:top;    
}

#basic_info #name {
    padding-left: 10px;
}

#basic_info #name #lastname {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #3CA2DF;        
}

#basic_info #name #firstname {
    font-family: 'Lato';
    font-size: 20px;
    border-bottom: 3px solid #3CA2DF;        
}

#basic_info #contact {
    padding-top: 5px;
}

#basic_info #contact i{
    padding-left: 10px;
}


